.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: goldenrod;
    background-size: cover;
    background-position: center;
    color: white;
}